@{
    ViewData["Title"] = "Admin Login";
}

<div class="container bg-light mb-5 mt-5 shadow-lg w-50 rounded">
    <h1 class="text-center text-danger mb-5">@ViewData["Title"]</h1>
    <center>
        <form asp-action="AdminLogin" method="post">
            @if (ViewData["LoginError"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["LoginError"]
                </div>
            }

            <input type="email" name="email" placeholder="Enter Email" class="form-control shadow-sm w-50 mb-5 rounded-pill" required />
            <input type="password" name="password" placeholder="Enter Password" class="form-control shadow-sm w-50 mb-5 rounded-pill" required />
            <input type="hidden" name="role" value="1" />
            <input type="submit" value="Login" class="w-50 text-light btn btn-danger mb-5 rounded-pill" />
        </form>
    </center>
</div>
