@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@Html.Partial("AdminHeader");


 <div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Admin Dashboard</h2>
                <h5>Welcome  ,  <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Online bus ticket reservation</a></h5>






            </div>
            <!-- /. ROW  -->
            <hr />
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>




</html>

 