@{
    var username = TempData["name"] as string;
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">SRC <span>Travel Agencies</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                
                <!-- Dynamic Transport Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Our Transport
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (ViewBag.categories != null)
                        {
                            foreach (var category in ViewBag.categories)
                            {
                                <a class="dropdown-item" href="@Url.Action("Category", "Home", new { id = category.Cat_id })">
                                    @category.Cat_name
                                </a>
                            }
                        }
                        else
                        {
                            <a class="dropdown-item">No categories available</a>
                        }
                    </div>
                </li>
                
                <!-- User Authentication Dropdown -->
                @if (!string.IsNullOrEmpty(username))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @username
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Signup">Signup</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
