<br>
<div class="container bg-light mb-5 mt-5 shadow-lg w-50  rounded">
    <h1 class="text-center text-warning mb-5">Login</h1>
    <center>
        <form method="post">


            <input type="email" name="email" placeholder="Enter Email" class="form-control shadow-sm w-50 mb-4 rounded-pill" />
            <input type="password" name="password" placeholder="Enter password" class="form-control shadow-sm  w-50 mb-4 rounded-pill" />
            
            <input type="submit" value="Login" class="w-50 text-light btn btn-warning mb-4 rounded-pill" />

            <h6 class="text-secondary">
                Account Create?


                <a class="nav-link text-primary" asp-controller="Home" asp-action="Signup">Signup</a>
            </h6>
        </form>

    </center>
</div>
